footer {
    background-color: var(--color-primary-2);
}

#footer_items {
    display: flex;
    justify-content: space-between;
    padding: 0px 8% 24px 8%;
    align-items: center;
}

#copyright {
    color: var(--color-neutral-1);;
    font-weight: 500;
    display: flex;              /* Ativa o Flexbox */
    justify-content: space-between; /* Coloca um item no início e o outro no fim */
    align-items: center;        /* Alinha eles verticalmente no centro */
    width: 100%;                /* Faz ocupar a largura total do rodapé */
}

/* Apenas para garantir que os links também fiquem alinhados */
.social-media-buttons {
  display: inline-flex; /* Alinha os ícones dentro dos botões */
  gap: 10px;            /* Adiciona um espaço entre os ícones */
}

.link-lab{
    color: rgb(236, 236, 236)
}

@media screen and (max-width: 600px) {
    #footer_items {
        flex-direction: column;
        gap: 20px;
    }
}